* {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  background-color: #FBFBFB;
  display: flex;
  align-items: flex-end;
}

header div {
  padding: 0 0 10px 20px;
}

header h1, h2 {
  color: #5B5B5A;
}

header h2, ul, li {
  display: inline-block;
}

header h1 {
  font-size: 24px;
  margin: 0;
  padding-top: 10px;
}

header h2 {
  font-size: 40px;
  margin: 0;
}

header li {
  color: #5B6C7A;
  padding-right: 20px;
  cursor: pointer;
}

header li:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

#portfolio-container {
  display: flex;
  position: absolute;
  top: 94px;
  left: 0;
  right: 0;
  bottom: 0;
}

#portfolio-container div {
  width: 25%;
  min-width: 250px;
  padding: 20px;
  box-sizing: border-box;
}

h3 {
  font-size: 40px;
  margin: 21.28px 0;
}

h4 a {
  font-size: 24px;
  text-decoration: none;
}

h4 a:hover {
  text-decoration: underline;
}

p {
  line-height: 20px;
}

#first-box {
  background-color: #E8846B;
}

#second-box {
  background-color: #E44B4B;
}

#third-box {
  background-color: #A2C5BF;
}

#fourth-box {
  background-color: #167C80;
}




/* Small and medium screens */

@media all and (max-width: 800px) {
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 36px;
  }
  #portfolio-container {
    flex-direction: column;
    position: static;
  }
  #portfolio-container div {
    width: 100%;
  }
  h3 {
    font-size: 36px;
    margin: 10px 0;
  }
  h4 {
    margin: 10px 0;
  }
}
