---
css_file: /css/portfolio.css
---

<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

  {% include header.html %}

  <div id="portfolio-container">
    <div id="portfolio-box">
      <h3>Portfolio</h3>
    </div>
    <div class="project" id="abarrphoto-box">
      <h4><a href="http://www.abarrphoto.com/">Andrew Barr Photography</a></h4>
      <a class="git-link" href="https://github.com/allisonkbarr/abarrphoto" target="_blank">Github repo</a>
      <p><em>Deku, Redux, Bourbon, AWS S3, Cloudinary</em></p>
      <p>Professional photography site featuring a gallery, project pages, and an about page. I used this opportunity to try out two new technologies: Deku as an alternative to React, and Redux for state management. All images are dynamically resized with Cloudinary.</p>
    </div>
    <div class="project" id="finlit-box">
      <h4><a href="http://finlit.io">Finlit.io</a></h4>
      <p><em>HTML/CSS, Sass, Firebase</em></p>
      <p>Landing page for a financial literacy web app. Also responsible for UI and logo design.</p>
      <p>More to come as we continue to build the product!</p>
    </div>
<!--    <div class="project" id="tempus-box">
      <h4><a href="#">Tempus App</a></h4>
      <a class="git-link" href="https://github.com/allisonkbarr/simple-image-server" target="_blank">Github repo</a>
      <p><em>React JS, Bootstrap, Flexbox CSS, Sass, Firebase</em></p>
      <p>A landing page and dashboard for an image server product. This was my first time using both Bootstrap and Flexbox, and after playing around with both, I ended up mostly using Flexbox. I made the dashboard a React app to add functionality to the form and the visibility toggles. Integrated with Firebase.</p>
      <p>Also responsible for UI design.</p>
    </div>
-->
    <div class="project" id="tictactoe-box">
      <h4><a target="_blank" href="portfolio/projects/tictactoe/index.html">Tic Tac Toe</a></h4>
      <a class="git-link" href="https://github.com/allisonkbarr/tictactoe" target="_blank">Github repo</a>
      <p><em>Hand-coded JavaScript, simple HTML/CSS, Mocha</em></p>
      <p>A player vs. computer version of the game.  The biggest challenge here was creating the AI.  First, I coded it to simply choose any open space, then I added the ability for it to recognize and take a winning move, and to block the user from a winning move, as well.</p>
      <p>To work out a bug in the logic, I wrote tests using Mocha.</p>
    </div>
    <div class="project" id=google-box>
      <h4><a target="_blank" href="portfolio/projects/google-homepage/index.html">Google Homepage</a></h4>
      <a class="git-link" href="https://github.com/allisonkbarr/google-homepage" target="_blank">Github repo</a>
      <p><em>HTML/CSS</em></p>
      <p>An exercise in simple HTML/CSS as a way to refresh and apply my layout skills.  This is a static, non-functional version of the Google homepage.</p>
    </div>
  </div>

  {% include footer.html %}

</body>
</html>
