<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:title" content="Allison Keane Barr, Web Developer" />
  <meta property="og:description" content="Personal website of one "girl dev" and digital-nomad-wannabe - that's me! Follow my journey on my blog, Life Bytes, as I tackle the career pivot and grow as a developer!" />
  <meta property="og:image" content="https://avatars0.githubusercontent.com/u/10567576?v=3&s=460" />

  <link rel="stylesheet" href="{% if page.css_file %}{{ page.css_file | prepend: site.baseurl }}{% else %}{{ site.blog_css }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
