/* Colors */

$font-blue: #3299CC;
$bg-blue: #6FB8DC;
$md-blue: #ADD6EB;
$lt-blue: #EBF5FA;
$white: #fff;
$black: #000;

$md-gray: #e1e1e8;
$bg-gray: #f7f7f9;



/* General */

body {
  color: $font-blue;
}

.align-right {
  text-align: right;
}

.highlight {
  background-color: $bg-gray;
  border: 1px solid $md-gray;
  border-radius: 4px;
  padding: 9px 14px;
}



/* Buttons and Links */

a {
  color: $font-blue;

  &:hover {
    color: $font-blue;
    text-decoration: none;
    border-bottom: 1px solid $font-blue;
  }
}

.btn {
  color: white;
  text-shadow: none;
  background-image: none;
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  background-color: $bg-blue;
  border: 1px solid $bg-blue;

  &:hover {
    background-image: none;
    background-color: $md-blue;
    color: white;
    border: 1px solid $md-blue;
  }

  &:focus {
    color: $white;
  }
}



/* Header & Nav */

header {
  display: flex;
  align-items: center;
  height: 54px;

  #flex-header {
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    margin: 0 20px 0 0px;
    min-width: 230px;
  }

  .btn {
    margin-left: auto;
  }

  nav {
    display: flex;
    align-items: center;

    a {
      display: inline-block;
      margin: 0 20px 0 0;
      font-size: 16px;
    }
  }
}

.active {
  border-bottom: 1px solid $font-blue;
}



/* Font Awesome */

.fa-xl {
  font-size: 150px;
  line-height: 130px;
}

.fa-lg {
  font-size: 48px;
}

.fa-md {
  font-size: 24px;
}

.fa-sm {
  font-size: 12px;
}



/* Jumbotron */

.jumbotron {
  color: white;
  background-color: $bg-blue;

  .btn {
    background-color: $bg-blue;
    border: 1px solid $lt-blue;

    &:hover {
      color: $bg-blue;
      background-color: white;
      border: 1px solid $lt-blue;
    }
  }
}



/* Masthead */

.masthead {
  text-align: center;

  .container {
    margin: 74px auto;
  }

  p {
    font-size: 30px;
    margin: 30px auto;
  }

}



/* API Key Table */

#plus-btn {
  display: inline-block;
  padding: 1px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin: 0 0 6px 6px;
}

.table {
  margin-top: 30px;

  h3 {
    display: inline-block;
  }

  p {
    font-size: 20px;
    margin: 0;
  }

  .highlight {

    p {
    display: inline-block;
    }

    i {
      display: inline-block;
    }
  }
}

.table-header p {
  font-size: 16px;
}

.table-row {
  border-bottom: 1px solid $bg-gray;
  padding: 10px 0;

  &:last-child {
    border-bottom: none;
  }
}

.table-cols {
  padding: 9px 15px;
}



/* Form */

form {
  margin: 5px 0 30px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: space-around;

  .btn {
    flex-grow: 1;
    max-width: 115px;
  }

  label {
    margin: 0;
    font-size: 16px;
    min-width: 102px;
    flex-grow: 1;
    flex-basis: 0;
  }

  input#key-name {
    border: none;
    margin: 0 14px 8px 0;
    padding: 5px 5px 0px 2px;
    border-bottom: 1px solid $bg-blue;
    background-color: $bg-gray;
    font-size: 20px;
    outline: none;
    width: 50%;
    min-width: 200px;
    flex-grow: 3;
  }
}
